postgresql/
etc/odoo-server.log
etc/addons/
etc/sessions/
etc/filestore/

postgres-data/
odoo-config/odoo-server.log

odoo-data/addons/
odoo-data/sessions/
odoo-data/filestore/
odoo-addons/

frontend/package-lock.json
frontend/node_modules